.sidebar {
  align-self: flex-end;
  padding: 20px;
  cursor: pointer;
}

.sidebar__image {
  width: 130px;
  background-color: lightgrey;
}

.sidebar__title {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 206);
}
