@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body,
html {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
  
}

h1,
h2,
h3 {
  margin: 0;
}
h3 {
  text-transform: uppercase;
}
.material-icons {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.window {
  background: #fff;
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
 
  position: relative;
  
}
.view_list, .view_module{
  display: grid;
  width: 80vw;
  padding: 20px;

}
.view_module {
  gap: 100px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.view_list {
  width:inherit;
  padding-right: 20px;
  grid-template-rows: repeat(6,1fr);
}
.module {
  width: 250px;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 0px grey;
}
.list {
  margin-right: 20px;
  justify-content: space-between;
}
.module, .list {
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  
}
.prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceCard {
  width:160px;
}
.priceList {
  width: 220px;
}
button {
  font-size:10px;
  background-color: rgb(245, 245, 245);
  border: 1px solid red;
  border-radius: 50px;
  color: red;
  padding: 10px;
  cursor: pointer;
}
.cent {
  color: red;
}